html{
  font-family:Raleway

}
.divider{
  border-bottom: 1px solid white;
 position: absolute;
  width:100%;

}
body{
  background-color:#EFCFD4;
  color:white;
}
.heart{
  display: block;
  margin-left: auto;
  margin-right: auto;
    position: relative;
  
}
.flex{
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  text-align:center;
}
h2{
  text-align: center;
}
.overlay{


}
h1{
text-align: center;
  font-size: 7em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
.neon{ font-family: Vampiro One;
  animation: neon 1.5s ease-in-out infinite alternate;}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
